@model IEnumerable<GoTProject.Models.Meal>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

@if (User.IsInRole("Admin"))
{
<p>
    <a asp-action="Create">Create New</a>
</p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MealName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MealPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    @if (item.Active || User.IsInRole("Admin"))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MealName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MealPrice)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.MealID">Details</a> 
            </td>

            @if (User.IsInRole("Admin"))
            {
            <td>
                <a asp-action="Edit" asp-route-id="@item.MealID">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.MealID">Delete</a>
            </td>
            }
        </tr>
        }
    }
    </tbody>
</table>
